.block{id: build.id, class: build.state}
  .block_head
    .bheadl
    .bheadr
    %h2
      = build.project_name
    %span.ajax-loading
    %ul
      :if !project_page
        %li
          %a.project-view{href: '#/dashboard/' + build.project_slug}
            Project View
      %li
        %a{href: '/projects/' + build.project_slug + '/edit'}
          Edit Project
      %li
        %a{href: '/builds/' + build.id}
          Details
      %li
        %a{href: '/builds/' + build.id, data-confirm: 'Are you sure?', data-method: 'delete'}
          Delete
  .block_content
    %div.small.left
      %strong Queued:
      = " " + build.created_at
      %br/
      %strong Started:
      = " " + build.started_at
      %br/
      %strong Completed:
      = " " + build.completed_at
      %br/
      %strong Commit:
      = " " 
      :if build.commit_url == build.commit_id
        = build.commit_id
      :if build.commit_url != build.commit_id
        %a{href: build.commit_url}
          = build.commit_id

    %div.small.right
      %strong ID:
        %a{href: '/builds/' + build.id}
          = " " + build.id + " (" + build.build_num + ")"
      %br/
      %strong Build Steps:
      = " " + build.total_steps
      %br/
      %strong Steps Completed:
      = " " + build.steps_completed 
      %br/
      %strong Message: 
      = " " + build.commit_message
      
  .bendl
  .bendr
