.block{:class => build.state, :id => build.id}
  .block_head
    .bheadl
    .bheadr
    %h2
      = build.project.name
    %span.ajax-loading
    %ul
      %li
        = link_to "Project View", dashboard_path(build.project.slug) 
      %li
        = link_to "Edit Project", edit_project_path(build.project)
      %li
        = link_to "Details", build_path(build)
      %li
        = link_to "Delete", build_path(build), :method => :delete, :confirm => "Are you sure?"
  .block_content
    %div.small.left
      %strong Queued:
      = build.created_at
      %br/
      %strong Started:
      = build.started_at
      %br/
      %strong Completed:
      = build.completed_at
      %br/
      %strong Commit:
      - if build.latest_commit.nil?
        = "waiting"
      - else
        - if build.latest_commit.url.nil?
          = build.latest_commit.guid
        - else
          = link_to build.latest_commit.guid, build.latest_commit.url,
          :target => :_blank
    %div.small.right
      %strong ID:
      = build.id
      = " (#{build.build_num})"
      %br/
      %strong Build Steps:
      = build.project.steps.count
      %br/
      %strong Steps Completed:
      = (build.steps_completed > 0) ? build.steps_completed : 'waiting'
      %br/
      %strong Message:
      = build.commits.present? ? build.commits.last.message : "waiting"

  .bendl
  .bendr
