- if project.errors.any?
  .block
    .block_head
      .bheadl
      .bheadr
      %h2 ERRORS
    .block_content
      #error_explanation
        %h2= "#{pluralize(project.errors.count, "error")} prohibited this project from being saved:"
        %ul
          - project.errors.full_messages.each do |msg|
            %li= msg
    .bendl
    .bendr

= simple_form_for project do |f|
  .block.small.left
    .block_head
      .bheadl
      .bheadr
      %h2
        = form_name
        = " - " unless project.new_record?
        = link_to "BUILD", build_project_path(project) unless project.new_record?
      %span.ajax-loading
      %ul
        %li
          /= link_to "Add Source", new_project_path unless new_record?
    / .block_head ends
    .block_content
      = f.label 'Project Id'
      = project.id
      %p
      = f.input :name, :input_html => {:class => :text }
      %p
      = f.input :scm_path, :input_html => {:class => :text }
      %p
      = f.input :branch_name, :input_html => {:class => :text }
      %p
      = f.input :keep_build_count, :input_html => {:class => :text }
      /%p
      /= f.check_box :fixed_branch, :class => :checkbox
      /= f.label :fixed_branch
      %p
      = f.check_box :private, :class => :checkbox
      = f.label :private
      %p
        = f.association :users, :collection => User.any_in(:role => ['client', 'admin']), :as => :check_boxes
      %p
    .bendl
    .bendr

  .block.small.right
    .block_head
      .bheadl
      .bheadr
      %h2 
        = image_tag('notifications/campfire.png', :width => 22, :height => 22) 
        Campfire
    .block_content
      %h3
        = f.simple_fields_for :campfire do |cf|
          = cf.input :token, :input_html => {:class => :text}
          %p 
          = cf.input :room, :input_html => {:class => :text}
          %p 
          = cf.input :subdomain, :input_html => {:class => :text}
          %p 
          = cf.check_box :ssl, :class => :checkbox
          = cf.label :ssl


    .bendl
    .bendr

  .block.small.right
    .block_head
      .bheadl
      .bheadr
      %h2 
        = image_tag('mail.png', :width => 22, :height => 22) 
        Email
    .block_content
      %h3 Coming Soon
      

    .bendl
    .bendr

  = f.simple_fields_for :build_configs do |config|
    .block.config
      .block_head
        .bheadl
        .bheadr
        %h2 Config
      .block_content
        = config.input :name, :input_html => {:class => 'text config_name'}
        %p
        = config.input :env_cmd, :as => :text
        %p
        = config.simple_fields_for :steps do |step|
          %div.build-steps
            %div.build-step
              %h2{:style => "border-bottom: 1px solid"} Step #1
              = step.input :name, :input_html => {:class => :text}
              %p
              = config.input :command, :as => :text
            %p
              = link_to 'Add Step', '#', :class => 'add-step'

      .bendl
      .bendr
  = f.button :submit, :class => "submit mid"
  %p
:javascript
    /*
    $(function() {
      $('.command').each(function() {
        command     = $(this).val().split(/\r\n|\r|\n/);
        parent_div  = $(this).parent().parent();
        pre_area    = parent_div.find('.pre:first');
        pre_area.html(command.join(' && '));
      });
    });
    */
    $(function() {

      // update the config names on load
      $('.config_name').each(function() {
        var config_name = $(this).val();
        parent_div = $(this).parents()[2];
        h2 = $(parent_div).find(' .block_head h2:first');
        (config_name != '') ? h2.html(config_name) : 'CONFIG'
      });

      // update the config on change/keyup
      $('.config_name').live('keyup', function() {
        var config_name = $(this).val();
        parent_div = $(this).parents()[2];
        h2 = $(parent_div).find(' .block_head h2:first');
        h2.html(config_name);
      });

      $('a.add-step').live('click', function(e) {
        e.preventDefault();
        var first = $('.build-step:first').clone();
        $(this).before('<p></p>');
        $(this).before(first);
        $('body').animate({scrollTop: $('body').attr('scrollHeight')}); 

        step = 1;
        $('.build-step h2').each(function() {
          $(this).html('Step #' + step);
          step++;
        });

      });
      
    });
