!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title 
      BOB (BUILDER) â— 
      = params[:controller].to_s.capitalize
    %style{:media => "all", :type => "text/css"}
      @import url("/stylesheets/style.css");
    /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=7" />
    /[if lt IE 8] <style type="text/css" media="all">@import url("/stylesheets/ie.css");</style>
    /[if IE] <script type="text/javascript" src="/javascripts/excanvas.js"></script>
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/jquery.filestyle.mini.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/jquery.wysiwyg.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/jquery.date_input.pack.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/facebox.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/jquery.visualize.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/jquery.select_skin.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/ajaxupload.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.pngfix.js", :type => "text/javascript"}
    /%script{:src => "/javascripts/custom.js", :type => "text/javascript"}
    //%script{:src => "/javascripts/haml.js", :type => "text/javascript" }
    %script{:src => "/javascripts/rails.js", :type => "text/javascript" }
    %script{:src => "/javascripts/sammy.js", :type => "text/javascript" }
    %script{:src => "/javascripts/plugins/sammy.json.js", :type => "text/javascript" }
    %script{:src => "/javascripts/plugins/sammy.haml.js", :type => "text/javascript" }
    %script{:src => "/javascripts/application.js", :type => "text/javascript" }
    = csrf_meta_tag
  %body
    #hld
      .wrapper
        / wrapper begins
        #header
          .hdrl
          .hdrr
          %h1
            %a{:href => "#"} BOB (BUILDER)
          %ul#nav
            %li
              = link_to "Dashboard", '/#/dashboard' 
            %li{:class => current_page?("admin/sources") ? "active":""}
              = link_to "Projects", projects_url
            
            /%li
            /  = link_to "Users", '#'
          %p
            / User login info
        
        - [:error, :warning, :notice, :info].each do |msg_type|
          = render :partial => "layouts/flash", :locals => {:msg_type => msg_type, :flash => flash} unless flash[msg_type.to_sym].blank?
        #builds
          = yield
        
        #footer
      / wrapper ends
    / #hld ends

